<div>
  <h1>Categories:</h1>
  <div class="categories-list">
    <a [routerLink]="['/list', 1]">
      <button class="text-btn" type="button">Home Appliances</button></a
    >
    <br />
    <br />
    <a [routerLink]="['/list', 2]"
      ><button class="text-btn" type="button">Smartphones</button></a
    ><br /><br />
    <a [routerLink]="['/list', 3]"
      ><button class="text-btn" type="button">Accessories</button></a
    ><br /><br />
    <a [routerLink]="['/list', 4]"
      ><button class="text-btn" type="button">Furniture</button></a
    >
  </div>
</div>
